@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');


.padredetodo {
   z-index: 100000;
   
 display: flex;
 justify-content:center ;
 align-items: center;

}


.cuadros{
   z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    height: 96vh ;
   
    border: 1px solid black;
    border-radius: 15px;
}


.pregunta{
    height: 60px;
    border: 1px solid black;
   
}

.CrearSala{
  display: flex;
  justify-content: center;
  align-items: center;
    height: 60px;
    
    padding: 0;
}
.CrearSalaa{
    height: 60px;
    padding: 0;
}
.CrearSalaa select{
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.preguntaScore{
    display: flex;
    flex-direction: column;

    padding: 0;
}

.pre{
    padding: 0;
    height: 60px;
    flex: 1;
    margin: 0 10px 0 0;
}
.pre input{
    margin: 0;
    width: 100%;
    height: 100%;
}


.score{
  width: 100%;
    height: 60px;
    flex: 1;
    margin: 0 20px 20px 0;
    
}
.score input{
    margin: 0;
    width: 100%;
    height: 100%;
}

.respuesta{
   
    padding: 0;
   
}

.resp{
    margin: 0 ;
    flex: 1 2  ;
  
}
.margin{
    border: 1px solid rgba(0, 0, 0, 0.382);
    border-radius: 10px;
}

.resp input{
    margin: 0 0 10px 0;
    width: 100%;
    height: 100%;
}
.margin{
    margin-top: 10px;
    height: 250px;
}

.aggLimp{
    padding: 0 ;
    display: flex;
}
.agg{
    margin: 0;
    flex: 1 ;
    height: 60px;
    padding: 0;
}
.agg input{
    margin: 0;
    width: 100%;
    height: 100%;
}
.margi{
    margin-right: 10px;   
    
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fade-in-Item {
    
    0% {
         opacity: 0;
        transform: translateY(40px);
    }
    100% { opacity: 1; transform: translateY(0);}
  }
  
  
  .icono{
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    
  }
  .secion{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .Preguntasagregadas{

    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .visible{
    display: flex;
    margin: 0;
    padding: 0;
    
  }
  .secion p{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .interna{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 450px;
  }
  ion-icon{
    transition: 1s;
    cursor: pointer;
  }
  ion-icon:hover{
        background: rgba(0, 0, 0, 0.1);
        border-radius: 100px 100px ;
        transform: scale(1.1);
        transition: .4s;

  }
  .visible{
    background: rgba(0, 0, 0, 0.2);
    border-radius:  20px;
    padding-left: 10px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;

    
  }
  visibilidad{
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: 1s;
    border-radius: 0 0  20px 20px;
    
  }

 

  
  @keyframes fade-in-ItemDesplegar {
      
      0% {
       
          opacity: 0;max-height: 0px;
          transform: translateY(-10px);
      }

      
      100% {max-height: 600px; opacity: 1; transform: translateY(0);
     }
  }

  @keyframes fade-out-ItemRecoger {
      
    0% {
     
        opacity: 1; height: 150px;
    }


    100% {
        height: 0px; opacity: 0;

   }
}

  
  
.active{
   

    height: auto;
    animation: fade-in-ItemDesplegar 2s forwards;

}

.des{
   
    animation: fade-out-ItemRecoger  1s forwards;
}
#visibilidad{
    transition: 1s;

}



@media only screen and (max-width: 832px) {
    
    .padredetodo{
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right:0 ;
       
    }
    .cuadros{
        
        overflow-y: scroll;
        scroll-behavior: smooth;    
        width: 100%;
        margin-top: 10px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right:0 ;
    }
    .w3-content .w3-padding{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .tab-container{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right:0 ;
        width: 100%;
    }
    .tab-content{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right:0 ;
    }
    #contact{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right:0 ;
    }

    .tab{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right:0 ;
    }
    .tabs{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right:0 ;
    }
  }


  .cuadros::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 100;
  }
  
  .cuadros::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    width: 5px;    /* color of the tracking area */
  }
  
  .cuadros::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.176);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(255, 255, 255, 0);  /* creates padding around scroll thumb */
  }
 
  
  .link{
    display: flex;

}
.link1{
    height: 40px;
    flex: 2;
    border: 1px solid black;
}
.copy{
    height: 40px;
    flex: 0.3;
    border: 1px solid black;
}

.unirsesala{
    display: flex;
    flex-direction: column;
}
.unirsesala input{
    width: 30%;
}
.link1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link1 a {
    color: #2196F3;
}
.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
       
.plantilla{
  overflow-y: scroll;
    scroll-behavior: smooth;
}
.pregunta{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
#Nombredelasala{
  margin: 0;
  text-align: center;
  padding: 10px;
  width: 70%;
  height: 50PX;
  border-radius: 15px;
}
.interna{
  display: flex;
  flex-direction: column;
  
  
}
.sinitems{
  position: absolute;
  background: transparent;
  user-select: none;
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.sinitems h1{
  color: rgba(0, 0, 0, 0.3);
}